<html>
	<head>
		<title>番茄工作法</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script type='text/javascript' src="lib/angular.js"></script>		
	</head>
	<body ng-app="tomato">
		<div ng-controller="itemCtr">
			<form ng-submit="addNewTask()">
				<input type="text" placehodler="输入任务" autofocus ng-model="newTask">
			</form>
			<div ng-repeat="item in items">
				<div task item="item"></div>
			</div>			
		</div>
		
		<script type='text/javascript' src="js/main.js"></script>	
		<script type='text/javascript' src="js/directive.js"></script>	
	</body>
</html>